@font-face {
    font-family: RobotoRegular;
    src: url(fonts\\Roboto\\Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoMedium;
    src: url(fonts\\Roboto\\Roboto-Medium.ttf);
}
body {
    min-height: 100vh;
    min-width: 1000px;
    width: 100%;
    background-color: #292929;
}
#main {
    width: 100%;
    display: flex;
    justify-content: center;
}
#authPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: RobotoRegular;
    color: white;
    margin: 1% 5% 0 5%;
    align-items: center;
}
#title{
    justify-content: center;
    width: 100%;
    font-size: 70px;
    text-align: center;
    line-height: 90%;
    margin-top: 100px;
}
#desc{
    margin: 0 10% 0 10%;
    font-size: 26px;
    text-align: center;
}
#authButton{
    min-height: 60px;
    color: white;
    background-color: #1a1a1a;
    margin-top: 90px;
    font-family: RobotoRegular;
    padding: 0 50px;
    font-size: 16px;
    border: 3px solid white;
}
#authButton:hover{
    background-color: #3f3f3f;
    border: 3px solid rgb(255, 122, 0);
}